<div class="card col-2 text-center">
  <img src="<%= image_url(badge.filename) %>" class="card-img-top pt-3">
  <div class="card-body">
    <p class="card-text"> <%= badge.name %> </p>
  </div>
</div>
