<div class="container-fluid justify-content-center mt-3">
  <h2><%= t('.header', title: @test_passage.test.title) %></h2>
  <p class="lead">
    <%= t('.time_failed') %>
  </p>
  <p>
  <%= link_to t('.all_tests'), tests_path %>
  </p>
</div>
