<h2>Тест "<%= @test_passage.test.title %>" завершен</h2>
<p>
  <% if @test_passage.test_result >= 85 %>
      <span id="passed_test_results"><%= @test_passage.test_result %>%</span>
        верных ответов.<br>
      Поздравляем! Вы прошли тест.
  <% else %>
      <span id="failed_test_results"><%= @test_passage.test_result %>%</span>
      верных ответов.<br>
      Тест не пройден.
  <% end %>
</p>
<p>
  <%= link_to 'Все тесты', tests_path %>
</p>
