<footer>
  <hr class="mt-20">
  <div class="d-flex justify-content-between bg-secondary text-light">
      <div class="p-3 small"><%= link_to 'Test-Guru', github_url('mixeeff', 'test-guru'), target: '_blank', class: 'text-info' %>
        - working with online tests. Study project with <%= link_to 'Thinknetica', 'https://thinknetica.com', target: '_blank', class: 'text-info' %> online school</div>
      <div class="p-3 small">© Dmitry Mikheev, <%= this_year %></div>
  </div>
</footer>
