<footer>
  <hr class="mt-20">
  <div class="d-flex justify-content-between bg-secondary text-light">
      <div class="p-3 small"><%= link_to 'Тест-Гуру', github_url('mixeeff', 'test-guru'), target: '_blank', class: 'text-info' %>
      - система работы с онлайн-тестами. Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'https://thinknetica.com', target: '_blank', class: 'text-info' %></div>
      <div class="p-3 small">© Дмитрий Михеев, <%= this_year %></div>
  </div>
</footer>
