.nav {
  height: 35px;
  padding: 10px;
  color: #ffffff;
  margin-bottom: 40px;
}

.nav.user {
  text-align: right;
  float: right;
}

.nav.lang_switcher
{
  text-align: right;
  float: right;
}

.nav.lang_switcher
a {
  color: #ffffff;
}

.nav.user-email {
  text-decoration: underline;
}

.nav.title {
  line-height: 35px;
  font-size: 140%;
  font-weight: bold;
}

.nav.user
a {
  color: #ffffff;
}

.nav.nav-admin {
  background-color: #4293e6;
}

.nav.nav-user {
  background-color: #777777;
}
