<p>Здравствуйте <%= @resource.email %>!</p>

<p>Вы запросили смену пароля для учетной записи Test-guru. Вы можете сделать это перейдя по ссылке ниже:</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали смену пароля проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен пока вы не перейдете по ссылке выше и не измените его.</p>
