<h1>Тесты</h1>
<% if @tests.present? %>
  <table>
    <tr>
      <th align="left">Название</th>
      <th>Категория</th>
      <th>Уровень</th>
      <th>Кол-во вопросов</th>
      <% if logged_in? %>
        <th colspan="2">Действия</th>
      <% end %>
    </tr>
    <%= render @tests %>
  </table>
<% else %>
  <p>Пока нет ни одного теста</p>
<% end %>
<% if logged_in? %>
  <p>
    <%= link_to 'Создать новый тест', new_test_path %>
  </p>
<% end %>
