<footer>
  <hr>
  <p><%= link_to 'Test-Guru', github_url('mixeeff', 'test-guru'), target: '_blank' %>
  - система работы с онлайн-тестами. Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'https://thinknetica.com', target: '_blank' %></p>
  <p>© Дмитрий Михеев, <%= this_year %></p>
</footer>
