<footer>
  <hr>
  <p><%= link_to 'Test-Guru', github_url('mixeeff', 'test-guru'), target: '_blank' %>
  - working with online tests. Study project with <%= link_to 'Thinknetica', 'https://thinknetica.com', target: '_blank' %> online school</p>
  <p>© Dmitry Mikheev, <%= this_year %></p>
</footer>
