<div class="nav nav-user">
  <span class="nav title">Test Guru</span>
  <div class="nav user">
    <% if user_signed_in? %>
      Пользователь: <b class="nav user-email"><%= current_user.full_name %></b> |
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to 'Войти', new_user_session_path %> | <%= link_to 'Зарегистрироваться', new_user_registration_path %>
      <% end %>
  </div>
</div>
